In [2]:
import numpy as np
import pandas as pd

In [4]:
data=pd.read_csv('diabetes.csv')

In [6]:
totalrows=data.shape[0]

In [8]:
traindatasize=int(totalrows*.75)

In [10]:
print(totalrows)

768

In [12]:
print(traindatasize)

576

In [14]:
train=data[0:traindatasize]
test=data[traindatasize:]

In [16]:
train.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [18]:
trainx=train.drop('Outcome',axis=1)
trainy=train['Outcome']
testx=test.drop('Outcome',axis=1)
testy=test['Outcome']

In [20]:
from sklearn import datasets, linear_model, metrics

In [22]:
reg = linear_model.LogisticRegression(max_iter=10000, random_state=0)
reg.fit(trainx, trainy)

y_pred = reg.predict(testx)

In [24]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,

In [35]:
mae = mean_absolute_error(testy,y_pred)
print(mae)
mse = mean_squared_error(testy,y_pred)
print(mse)
rmse = mean_squared_error(testy,y_pred,squared=False)
print(rmse)
accuracy = accuracy_score(testy, y_pred)
print(accuracy)

0.20833333333333334
0.20833333333333334
0.45643546458763845
0.7916666666666666

C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(