In [1]:
import numpy as np
import pandas as pd

In [3]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [5]:
train.head()

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984

In [6]:
size=len(train)

In [7]:
size

700

In [11]:
train['z']=1
test['z']=1

In [12]:
train.head()

      x          y  z
0  24.0  21.549452  1
1  50.0  47.464463  1
2  15.0  17.218656  1
3  38.0  36.586398  1
4  87.0  87.288984  1

In [15]:
trainx=train.drop('y',axis=1)
testx=test.drop('y',axis=1)

In [17]:
trainx

        x  z
0    24.0  1
1    50.0  1
2    15.0  1
3    38.0  1
4    87.0  1
..    ... ..
695  58.0  1
696  93.0  1
697  82.0  1
698  66.0  1
699  97.0  1

[700 rows x 2 columns]

In [19]:
trainy=train['z']

In [21]:
testy=test['z']

In [23]:
theta=np.zeros(2)