In [1]:
import numpy as np
import pandas as pd

In [2]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [3]:
train.head()

,trip_duration,distance_traveled,num_of_passengers,fare,tip,miscellaneous_fees,total_fare,surge_applied
0,748.0,2.75,1.0,75.00,24,6.300,105.300,0
1,1187.0,3.43,1.0,105.00,24,13.200,142.200,0
2,730.0,3.12,1.0,71.25,0,26.625,97.875,1
3,671.0,5.63,3.0,90.00,0,9.750,99.750,0
4,329.0,2.09,1.0,45.00,12,13.200,70.200,0

In [4]:
test.head()

,trip_duration,distance_traveled,num_of_passengers,fare,tip,miscellaneous_fees,total_fare,surge_applied
0,1076.0,4.18,1.0,0,0,13.500,0,0
1,429.0,1.48,4.0,0,0,13.500,0,0
2,856.0,4.15,1.0,0,24,6.000,0,0
3,622.0,3.22,1.0,0,15,5.625,0,0
4,507.0,3.98,1.0,0,0,2.250,0,0

In [6]:
trainx=train.drop(["total_fare"],axis=1)
trainy=train["total_fare"]
testx=test.drop(["total_fare"],axis=1)
testy=test["total_fare"]

In [7]:
testy.head()

0    0
1    0
2    0
3    0
4    0
Name: total_fare, dtype: int64

In [8]:
trainx["constant"]=pd.DataFrame(np.ones(len(trainx)))
testx["constant"]=pd.DataFrame(np.ones(len(testx)))

In [9]:
trainx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209673 entries, 0 to 209672
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   trip_duration       209673 non-null  float64
 1   distance_traveled   209673 non-null  float64
 2   num_of_passengers   209673 non-null  float64
 3   fare                209673 non-null  float64
 4   tip                 209673 non-null  int64
 5   miscellaneous_fees  209673 non-null  float64
 6   surge_applied       209673 non-null  int64
 7   constant            209673 non-null  float64
dtypes: float64(6), int64(2)
memory usage: 12.8 MB

In [10]:
testx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89861 entries, 0 to 89860
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   trip_duration       89861 non-null  float64
 1   distance_traveled   89861 non-null  float64
 2   num_of_passengers   89861 non-null  float64
 3   fare                89861 non-null  int64
 4   tip                 89861 non-null  int64
 5   miscellaneous_fees  89861 non-null  float64
 6   surge_applied       89861 non-null  int64
 7   constant            89861 non-null  float64
dtypes: float64(5), int64(3)
memory usage: 5.5 MB

In [11]:
trainx.columns=[0,1,2,3,4,5,6,7]
testx.columns=[0,1,2,3,4,5,6,7]

In [12]:
theta=np.ones(8)
theta=pd.DataFrame(theta)

In [ ]:
for j in range(8):
    for i in range(len(trainx)):
        hx=0
        for k in range(8):
            hx=hx+trainx[k][i]*theta[0][k]
        p=(float(0.025*(hx-trainy[i]))*float(trainx[j][i]))
        theta[0][j]=theta[0][j]-p

/tmp/ipykernel_30775/4150853838.py:5: RuntimeWarning: overflow encountered in scalar multiply
  hx=hx+trainx[k][i]*theta[0][k]
/tmp/ipykernel_30775/4150853838.py:7: RuntimeWarning: invalid value encountered in scalar subtract
  theta[0][j]=theta[0][j]-p