In [1]:
import numpy as np
import pandas as pd

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
train.head()

,trip_duration,distance_traveled,num_of_passengers,fare,tip,miscellaneous_fees,total_fare,surge_applied
0,748.0,2.75,1.0,75.00,24,6.300,105.300,0
1,1187.0,3.43,1.0,105.00,24,13.200,142.200,0
2,730.0,3.12,1.0,71.25,0,26.625,97.875,1
3,671.0,5.63,3.0,90.00,0,9.750,99.750,0
4,329.0,2.09,1.0,45.00,12,13.200,70.200,0

In [4]:
test.head()

,trip_duration,distance_traveled,num_of_passengers,fare,tip,miscellaneous_fees,total_fare,surge_applied
0,1076.0,4.18,1.0,0,0,13.500,0,0
1,429.0,1.48,4.0,0,0,13.500,0,0
2,856.0,4.15,1.0,0,24,6.000,0,0
3,622.0,3.22,1.0,0,15,5.625,0,0
4,507.0,3.98,1.0,0,0,2.250,0,0

In [5]:
trainx=train.drop(['fare','tip','miscellaneous_fees','total_fare','surge_applied'],axis=1)
trainy=train['total_fare']

In [6]:
testx=test.drop(['fare','tip','miscellaneous_fees','total_fare','surge_applied'],axis=1)
testy=test['total_fare']

In [7]:
trainx['constant']=pd.DataFrame(np.ones(len(trainx)))
testx['constant']=pd.DataFrame(np.ones(len(testx)))

In [8]:
trainx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209673 entries, 0 to 209672
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_duration      209673 non-null  float64
 1   distance_traveled  209673 non-null  float64
 2   num_of_passengers  209673 non-null  float64
 3   constant           209673 non-null  float64
dtypes: float64(4)
memory usage: 6.4 MB

In [24]:
theta=np.ones(4)

In [25]:
theta=pd.DataFrame(theta)

In [26]:
trainx.columns=[0,1,2,3]
testx.columns=[0,1,2,3]

In [27]:
for j in range(4):
    p=0
    for i in range(len(trainx)):
        hx=0
        for k in range(4):
            hx=hx+(trainx[k][i]*theta[0][k])
        p=p+(trainy[i]-hx)*trainx[j][i]
    theta[0][j]=theta[0][j]+0.025*p

In [29]:
ans=testx.dot(theta)

In [30]:
ans.head()

              0
0  1.426824e+27
1  1.426192e+27
2  1.426824e+27
3  1.426824e+27
4  1.426824e+27