In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("data.csv")

In [3]:
from sklearn.preprocessing import LabelEncoder
data.ocean_proximity=LabelEncoder().fit_transform(data.ocean_proximity)

In [4]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,3
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,3
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,3
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,3
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,3

In [5]:
data["constant"]=pd.DataFrame(np.ones(len(data)))

In [6]:
train=data[:int(0.7*len(data))]
test=data[int(0.7*len(data)):]

In [7]:
trainy=train["median_house_value"]
testy=test["median_house_value"]

In [8]:
trainx=train.drop(["median_house_value"],axis=1)
testx=test.drop(["median_house_value"],axis=1)

In [9]:
trainx["total_bedrooms"]=trainx["total_bedrooms"].fillna(trainx["total_bedrooms"].median())
testx["total_bedrooms"]=testx["total_bedrooms"].fillna(trainx["total_bedrooms"].median())

In [10]:
trainx.columns=[0,1,2,3,4,5,6,7,8,9]

In [11]:
xtranspose=np.transpose(trainx)

In [12]:
X_transpose_X = np.dot(xtranspose, trainx)

In [13]:
q= np.dot(xtranspose, trainy)

In [14]:
p=np.linalg.inv(X_transpose_X)

In [15]:
r=np.dot(p,q)

In [16]:
print(r)

[-3.81662778e+04 -4.14173595e+04  7.96271607e+02 -5.77845375e+00
  6.82340713e+01 -4.63215425e+01  1.00406906e+02  3.93896563e+04
 -3.51953074e+03 -3.06081357e+06]

In [17]:
s=np.dot(testx,r)

In [18]:
testy.head()

14447    500001.0
14448    450000.0
14449    332400.0
14450    394400.0
14451    311900.0
Name: median_house_value, dtype: float64

In [19]:
s=pd.DataFrame(s)

In [20]:
s.head()

               0
0  352832.298226
1  235705.118232
2  289334.299088
3  336973.697211
4  237424.444302