In [1]:
import numpy as np
import pandas as pd

In [2]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [3]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
#converting into lowercase 
train["keyword"]=train["keyword"].apply(lambda x:str.lower(x) if pd.isna(x)!=True else x)
train["location"]=train["location"].apply(lambda x:str.lower(x) if pd.isna(x)!=True else x)
train["text"]=train["text"].apply(lambda x:str.lower(x) if pd.isna(x)!=True else x)
test["keyword"]=test["keyword"].apply(lambda x:str.lower(x) if pd.isna(x)!=True else x)
test["location"]=test["location"].apply(lambda x:str.lower(x) if pd.isna(x)!=True else x)
test["text"]=test["text"].apply(lambda x:str.lower(x) if pd.isna(x)!=True else x)

In [5]:
import re, string
def remove_entities(text):
    entity_prefixes=['@','#']
    
    words=[]
    for word in text.split():
        word = word.strip()
        if word[0] not in entity_prefixes:
            words.append(word)
    return ' '.join(words)

In [6]:
#removing @ and # using above function
train["keyword"]=train["keyword"].apply(lambda x:remove_entities(x) if pd.isna(x)!=True else x)
train["location"]=train["location"].apply(lambda x:remove_entities(x) if pd.isna(x)!=True else x)
train["text"]=train["text"].apply(lambda x:remove_entities(x) if pd.isna(x)!=True else x)
test["keyword"]=test["keyword"].apply(lambda x:remove_entities(x) if pd.isna(x)!=True else x)
test["location"]=test["location"].apply(lambda x:remove_entities(x) if pd.isna(x)!=True else x)
test["text"]=test["text"].apply(lambda x:remove_entities(x) if pd.isna(x)!=True else x)

In [7]:
#text converted into string
train["keyword"]=train["keyword"].apply(str)
train["location"]=train["location"].apply(str)
train["text"]=train["text"].apply(str)
test["keyword"]=test["keyword"].apply(str)
test["location"]=test["location"].apply(str)
test["text"]=test["text"].apply(str)

In [8]:
#removing links
train["keyword"]=train["keyword"].apply(lambda x:re.sub(r"(http|www)\S+" , ' ' , x) if pd.isna!=True else x)
train["location"]=train["location"].apply(lambda x:re.sub(r"(http|www)\S+" , ' ' , x) if pd.isna!=True else x)
train["text"]=train["text"].apply(lambda x:re.sub(r"(http|www)\S+" , ' ' , x) if pd.isna!=True else x)
test["keyword"]=test["keyword"].apply(lambda x:re.sub(r"(http|www)\S+" , ' ' , x) if pd.isna!=True else x)
test["location"]=test["location"].apply(lambda x:re.sub(r"(http|www)\S+" , ' ' , x) if pd.isna!=True else x)
test["text"]=test["text"].apply(lambda x:re.sub(r"(http|www)\S+" , ' ' , x) if pd.isna!=True else x)

In [9]:
train.shape

(7613, 5)

In [10]:
train.head()

,id,keyword,location,text,target
0,1,nan,nan,our deeds are the reason of this may allah for...,1
1,4,nan,nan,forest fire near la ronge sask. canada,1
2,5,nan,nan,all residents asked to 'shelter in place' are ...,1
3,6,nan,nan,"13,000 people receive evacuation orders in cal...",1
4,7,nan,nan,just got sent this photo from ruby as smoke fr...,1