In [1]:
import numpy as np
import pandas as pd

In [3]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [5]:
x_train=train.drop(["target"],axis=1)
y_train=train["target"]

In [7]:
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [9]:
x_test=test

In [11]:
from keras.models import Sequential, load_model
from keras.layers import LSTM, GRU
from keras.layers import Dense, Embedding, Bidirectional, Dropout, Flatten
from keras.optimizers import Adam, SGD

2024-06-10 18:08:45.078269: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: SSE4.1 SSE4.2 AVX AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [12]:
from keras_preprocessing.text import Tokenizer
from keras_preprocessing.sequence import pad_sequences

In [15]:
x_train.head()

   id keyword location                                               text
0   1     NaN      NaN  Our Deeds are the Reason of this #earthquake M...
1   4     NaN      NaN             Forest fire near La Ronge Sask. Canada
2   5     NaN      NaN  All residents asked to 'shelter in place' are ...
3   6     NaN      NaN  13,000 people receive #wildfires evacuation or...
4   7     NaN      NaN  Just got sent this photo from Ruby #Alaska as ...

In [17]:
print('Training Dataset contain {} samples'.format(x_train.shape[0]))
print('Testing Dataset contain {} samples'.format(x_test.shape[0]))

Training Dataset contain 7613 samples
Testing Dataset contain 3263 samples

In [21]:
x_train = x_train.drop(['id', 'keyword', 'location'], axis=1)
x_test = x_test.drop(['id', 'keyword', 'location'], axis=1)

In [23]:
y_train

0       1
1       1
2       1
3       1
4       1
       ..
7608    1
7609    1
7610    1
7611    1
7612    1
Name: target, Length: 7613, dtype: int64