In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("data.csv")

In [3]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
data["constant"]=pd.DataFrame(np.ones(len(data)))

In [5]:
from sklearn.preprocessing import LabelEncoder
data.Gender=LabelEncoder().fit_transform(data.Gender)
data.Married=LabelEncoder().fit_transform(data.Married)
data.Education=LabelEncoder().fit_transform(data.Education)
data.Self_Employed=LabelEncoder().fit_transform(data.Self_Employed)
data.Loan_Amount_Term=LabelEncoder().fit_transform(data.Loan_Amount_Term)
data.Property_Area=LabelEncoder().fit_transform(data.Property_Area)
data.Loan_Status=LabelEncoder().fit_transform(data.Loan_Status)

In [6]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,constant
0,LP001002,1,0,0,0,0,5849,0.0,NaN,8,1.0,2,1,1.0
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,8,1.0,0,0,1.0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,8,1.0,2,1,1.0
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,8,1.0,2,1,1.0
4,LP001008,1,0,0,0,0,6000,0.0,141.0,8,1.0,2,1,1.0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    int64
 2   Married            614 non-null    int64
 3   Dependents         599 non-null    object
 4   Education          614 non-null    int64
 5   Self_Employed      614 non-null    int64
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   614 non-null    int64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    int64
 12  Loan_Status        614 non-null    int64
 13  constant           614 non-null    float64
dtypes: float64(4), int64(8), object(2)
memory usage: 67.3+ KB

In [8]:
data["Dependents"].fillna(0,inplace=True)
data["Credit_History"].fillna(0,inplace=True)
data.dropna(subset=["LoanAmount"],inplace=True)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 592 entries, 1 to 613
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            592 non-null    object
 1   Gender             592 non-null    int64
 2   Married            592 non-null    int64
 3   Dependents         592 non-null    object
 4   Education          592 non-null    int64
 5   Self_Employed      592 non-null    int64
 6   ApplicantIncome    592 non-null    int64
 7   CoapplicantIncome  592 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   592 non-null    int64
 10  Credit_History     592 non-null    float64
 11  Property_Area      592 non-null    int64
 12  Loan_Status        592 non-null    int64
 13  constant           592 non-null    float64
dtypes: float64(4), int64(8), object(2)
memory usage: 69.4+ KB

In [10]:
data=data.drop(["Loan_ID"], axis=1)

In [11]:
data["Dependents"].replace('3+','3',inplace=True)

In [12]:
data["Dependents"].unique()

array(['1', '0', '2', '3', 0], dtype=object)

In [13]:
data["Dependents"].astype(int)

1      1
2      0
3      0
4      0
5      2
      ..
609    0
610    3
611    1
612    2
613    0
Name: Dependents, Length: 592, dtype: int64

In [14]:
data["Dependents"].replace('3',3,inplace=True)
data["Dependents"].replace('2',2,inplace=True)
data["Dependents"].replace('1',1,inplace=True)
data["Dependents"].replace('0',0,inplace=True)

In [30]:
data["Dependents"].unique()

array([1, 0, 2, 3])

In [15]:
data["CoapplicantIncome"].astype(int)

1      1508
2         0
3      2358
4         0
5      4196
       ...
609       0
610       0
611     240
612       0
613       0
Name: CoapplicantIncome, Length: 592, dtype: int64

In [16]:
data["LoanAmount"].astype(int)

1      128
2       66
3      120
4      141
5      267
      ...
609     71
610     40
611    253
612    187
613    133
Name: LoanAmount, Length: 592, dtype: int64

In [17]:
data["Credit_History"].astype(int)

1      1
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Credit_History, Length: 592, dtype: int64

In [18]:
train=data[:int(0.7*len(data))]
test=data[int(0.7*len(data)):]

In [19]:
trainx=train.drop("Loan_Status",axis=1)
trainy=train["Loan_Status"]
testx=test.drop("Loan_Status",axis=1)
testy=test["Loan_Status"]

In [20]:
trainx.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,constant
1,1,1,1,0,0,4583,1508.0,128.0,8,1.0,0,1.0
2,1,1,0,0,1,3000,0.0,66.0,8,1.0,2,1.0
3,1,1,0,1,0,2583,2358.0,120.0,8,1.0,2,1.0
4,1,0,0,0,0,6000,0.0,141.0,8,1.0,2,1.0
5,1,1,2,0,1,5417,4196.0,267.0,8,1.0,2,1.0

In [21]:
theta=np.ones(12)

In [22]:
theta=pd.DataFrame(theta)
theta.head()

     0
0  1.0
1  1.0
2  1.0
3  1.0
4  1.0

In [23]:
theta.astype(int)

    0
0   1
1   1
2   1
3   1
4   1
5   1
6   1
7   1
8   1
9   1
10  1
11  1

In [24]:
trainx.columns=[0,1,2,3,4,5,6,7,8,9,10,11]
testx.columns=[0,1,2,3,4,5,6,7,8,9,10,11]
trainy.columns=[0]
testy.columns=[0]

In [25]:
trainx.head()

   0   1   2   3   4     5       6      7   8    9   10   11
1   1   1   1   0   0  4583  1508.0  128.0   8  1.0   0  1.0
2   1   1   0   0   1  3000     0.0   66.0   8  1.0   2  1.0
3   1   1   0   1   0  2583  2358.0  120.0   8  1.0   2  1.0
4   1   0   0   0   0  6000     0.0  141.0   8  1.0   2  1.0
5   1   1   2   0   1  5417  4196.0  267.0   8  1.0   2  1.0

In [26]:
trainy.head()

1    0
2    1
3    1
4    1
5    1
Name: Loan_Status, dtype: int64

In [27]:
trainx.info()

<class 'pandas.core.frame.DataFrame'>
Index: 414 entries, 1 to 428
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       414 non-null    int64
 1   1       414 non-null    int64
 2   2       414 non-null    int64
 3   3       414 non-null    int64
 4   4       414 non-null    int64
 5   5       414 non-null    int64
 6   6       414 non-null    float64
 7   7       414 non-null    float64
 8   8       414 non-null    int64
 9   9       414 non-null    float64
 10  10      414 non-null    int64
 11  11      414 non-null    float64
dtypes: float64(4), int64(8)
memory usage: 42.0 KB

In [29]:
for j in range(12):
    p=0
    for i in range(len(trainx)):
        if(i==0):
            continue
        hx=0
        for k in range(12):
            hx=hx+(trainx[k][i]*theta[0][k])
        if(hx>0):
            hx=1
        else:
            hx=0
        p=(0.25*(hx-trainy[i])*trainx[j][i])
    theta[0][j]=theta[0][j]-0.025*p

KeyError: 35